<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>
    <main style="background-color: #3f5067; min-height: 100vh;" >
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="/images/logo_cropped.jpg" alt="TurboTransitLogo" class="center"/>
                </div>
                <div>
                    <img src="/images/logo_text.jpg" alt="TurboTransitLogo" class="center"/>
                </div>
            </div>
            <div class="col-md-8" style="text-align: center; margin-top: 10%;"> 
                <h6 class="display-6" style="color: white;">Our Vision</h6>
                <p class="font-weight-light" style="color: white; padding-left: 100px; padding-right: 8%;" > Our goal at TurboTransit is to connect people who are traveling in the same direction and enable them to share their rides, making transportation more convenient, affordable, and enjoyable. We aim to reduce traffic congestion, decrease carbon emissions, and create a community of riders and drivers who value sustainability, accessibility, and social connection. With TurboTransit, getting there is more than just a destination, it's a chance to connect, share experiences, and create lasting memories.
                </p>
                <div class="mb-3 form-check">
                    <button onclick="location.href='/register'" class="btn btn-secondary btn-lg">Get Started ></button>
                    <p style="color: grey;">Already have an account?
                        <a href="/login">Login</a> 
                    </p>
                </div>
            </div>
          </div>
    </div>
    </main>

<%- include ('../partials/footer') %>