<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>
    <main>
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <img src="../../resources/img/full_logo.jpg" alt="TurboTransitLogo"/>
    </div>
    </main>

<%- include ('../partials/footer') %>