<%- include ('../partials/head') %>
  <%- include ('../partials/menu') %>
    <div class="col"><%- include ('../partials/message') %></div>
    <main>
      <form>
        <div class="form-group">
          <label for="textInput">To Your Destination</label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="Type Your Destination">
        </div>
        <div class="form-group">
          <label for="disabledSelect">From My Location</label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="Type Your Location">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        </fieldset>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Estimated Time of Arrival</th>
            <th scope="col">Total Travel Time</th>
            <th scope="col">Estimated Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="../../resources/img/RTD_logo.png" width=100 height=100></th>
            <td>Leave At: 10:10am<br>Arrive By: 10:25am</td>
            <td>15 min</td>
            <td>$3</td>
            <td><button type="submit" class="btn btn-primary">buy</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="../../resources/img/uber_logo.png" width=100 height=100></th>
            <td>Leave At: 10:10am<br>Arrive By: 10:25am</td>
            <td>18 min</td>
            <td>$5</td>
            <td><button type="submit" class="btn btn-primary">buy</button></td>
          </tr>
          <tr>
            <th scope="row"><img src="../../resources/img/lyft_logo.png" width=100 height=100></th>
            <td>Leave At: 10:10am<br>Arrive By: 10:25am</td>
            <td>30 min</td>
            <td>$12</td>
            <td><button type="submit" class="btn btn-primary">buy</button></td>
          </tr>
        </tbody>
      </table>
    </main>
    <%- include ('../partials/footer') %>