<% if (locals.message) { %>
    <div
      style="background-color:lightgrey; color: #3f5067; border-color: #3f5067;"
      class="alert alert-danger%>"
      role="alert">
      <%= message %>
    </div>
    <% } %>
    